
        body {
            font-family: Arial, sans-serif;
        }

        header {
            
            color: white;
            text-align: top;
            width: 101.5%; height: 0px;
            padding-top: 30%;
            background-image: url(Picture/Banner.png);
            background-size: 101.5% auto;
            background-position:center;
            background-repeat: no-repeat;
        }
        .container {
            margin: 50px auto;
            width: 40em; 
            height: 30em;
            border: 3px solid grey;
        }
        nav {
            width: 100% ; height: 3em;
        }

        nav a {
            float: left;
            color: rgb(255, 255, 255);
            padding: 14px 20px;

        }

        nav a:hover {
            background-color: #ddd;
            color: black;
        }
        .PresentHTML{
            background-color: #4660f5;
            color: rgb(221, 221, 221);
        }
        body p,h1 {
            padding-left: 20px ;
            text-indent: 20px;
            font-size: larger;
        }
        body h1{
            color: #ffe4c4;
            text-align: center;
        }
        body p{
        color: rgb(255, 255, 255);
        text-shadow: 
            -1px -1px 0 #141414,  
            1px -1px 0 #141414,
            -1px  1px 0 #141414,
            1px  1px 0 #141414;
        }
        .bg {
            width: 101.5% ; height: 100%;
            position:fixed;
            object-fit: cover;
            z-index: -1;
        }

        .content {
            width: 100%; height: auto;
            position: relative;
            z-index: 1;
            transform: translateY(0%);
        }

        div iframe{
            width: 100%; height: 100%;         
        }
        footer p {
            color: rgb(255, 255, 255) ;
            font-size: smaller;
            padding: 10px;
            margin: 0px;
            
        }
        footer {

            width: 101.5%; height: auto;
            text-align: center;
            background-image: url(Picture/BGEnd.jpg);
            
        
        }
        footer span{
            color: rgb(128, 177, 241);
        }

        td img{
            width: 300px; height: 225px;
            border: 3px solid black;
            text-align: center;
            
        }
        td{
            width: 360px; height: 285px;
            background-image: url(Picture/BGImage.png);
            background-position: center;
            background-repeat: no-repeat ;
            background-size: 75% 75%;
        }
        